html, body {
//background-color: red;
    height: 100%;
    width: 100%;
    font-size: 1.04em;
    font-family: Monospace;
    margin: 0;
}
#start-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
}
.\.soundButton{
    height: 30px;
    width: 200px;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
    border: none;
    /*
    add deformable buttons later
     */
}
#outerContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container {
    background-color: white;
//background: yellow;
    width: 50vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-style: solid;
    border-color: rgba(209, 207, 211, 0.92);
    border-width: 5px;
    overflow: hidden;
}
#container span {
    width: 100%;
// text-align: center;

}
#case {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 20%;
}
#case span {
    margin: 20px;
}
#question {
//background: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10%;
}
#answer {
    background: beige;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 60%;
    flex-wrap: wrap;
}
#examDescription {
    margin: 20px;
}
#answers2 {
    padding: 30px;
//background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#answers2sub {
//background-color: firebrick;
//padding: 30px;
}
#answers2sub2 {
// background-color: mediumvioletred;
//padding: 30px;
}
#answers2sub li, #answers2sub2 li {
    width: 200px;
}
.multiChoice {
    margin: 5px;
    cursor: pointer;
    width: available;
}
#what {
    cursor: help;
}
#yourAnswersContainer {
  //background-color: green;
    height: 10%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}
#yourAnswers {
//background-color: yellow;
    height: 100%;

}
#buttonContainer {
//background-color: firebrick;
    padding: 30px;
    align-self: end;
    text-align: right;
    justify-self: end;
}
#submitButton {
    cursor: pointer;
}

#yourAnswersSubmitPage {
    display: flex;
    flex-direction: column;
}
#caseWriteUpHeader {
    font-weight: 800;
    text-align: center;
}
#correct-answers {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#caseWriteUp {
    height: 100%;
    width: 60%;
    margin-top: 30px;
}
#caseWriteUp img {
    width: 300px;
    display: block;
}
.sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    padding: 20px;
}
.sign:hover {
    background-color: yellow;
    cursor: pointer;
}
#your-answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    border: chocolate 3px solid;
}
@media(orientation: portrait) {
    body {
        font-size: 3em;
    }
    #container {
        width: 100vw;
        height: 100vh;
        border: 0;
    }
    #container button {
        font-size: 0.8em;
        height: 80%;
        width: 90%;
    }
    #case-hitter {
        font-size: 1.8vh;
    }
    #case-hitter br {
        height: 0; 
    }
    #caseWriteUp {
        width: 90%;
        border: 0;
    }
    #caseWriteUp button {
        font-size: 1em;
    }
    li {
        list-style-type: none;
        border: 1px solid black; 
        text-align: center; 
    }
    #answers2 {
       padding: 0;
    }
    #answers2 span  {
        //background: yellow; 
        //border: 1px black solid; 
    }
    #answers2 span li {
        width: 100%;
        //background-color: green;
        position: relative;
        right: 30px;
    }
    #investigations li {
        position: relative;
        right: 30px;
    }
    #yourAnswers {
        font-size: 0.8em;
        padding: 5px;
    }
    #buttonContainer {
        align-self: center;
        justify-self:center; 
        padding-left: 10px;
    }
    #examDescription {
        margin: 10px;
    }
    #start-menu button {
        height: 5vh;
        width: 40vw;
        font-size: 4vw;
        margin: 30px;
    }
}
