html, body {
    //background-color: red;
    height: 100%;
    width: 100%;
    font-size: 1.04em;
    font-family: Monospace;
}
.\.soundButton{
    height: 30px;
    width: 200px;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
    border: none;
    /*
    add deformable buttons later
     */
}
#outerContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container {
   //background: yellow;
    //height: 50vh;
    height: 80vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-style: solid;
    border-color: cadetblue;
    border-width: 5px;
}
#container span {
    width: 100%;
   // text-align: center;
}
#case {
    display: flex;
    background-color: lightseagreen;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 20%;
}
#case span {
    margin: 20px;
}
#question {
    //background: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10%;
}
#answer {
    background: beige;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 60%;
    flex-wrap: wrap;
}
#examDescription {
    margin: 20px;
}
#answers2 {
    padding: 30px;
    //background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#answers2sub {
    //background-color: firebrick;
    //padding: 30px;
}
#answers2sub2 {
    // background-color: mediumvioletred;
    //padding: 30px;
}
#answers2sub li, #answers2sub2 li {
    width: 200px;
}
.multiChoice {
    margin: 5px;
    cursor: pointer;
    width: available;
}
#what {
    cursor: help;
}
#yourAnswersContainer {
    //background-color: green;
    height: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
#yourAnswers {
    //background-color: yellow;
    height: 100%;

}
#buttonContainer {
    //background-color: firebrick;
    padding: 20px;
    align-self: end;
    text-align: right;
    justify-self: end;
}
#submitButton {
    background-color: firebrick;
    color: white;
    font-family: Ariel;
    font-weight: 300;
    border: none;
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
}
